body{
    margin: 0;
}

.top-pane{
    background-color: hsl(225, 6%, 25%);
}

.pane{
    display: flex;
    height: 60vh;
}

.editor-container{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: hsl(225, 6%, 25%);
}

.editor-container.collpased{
    flex-grow: 0;
}

.expand-compress-btn{
    margin-left: 0.5rem;
    background:none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.editor-container.collpased .CodeMirror-scroll{
    position: absolute;
    overflow: hidden !important;
}

.editor-title{
    display: flex;
    justify-content: space-between;
    background-color: hsl(225, 6%, 13%);
    color: #fff;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.codeMirror{
    height: 100% !important;
}

.code-mirror-wrapper{
    flex-grow: 1;
    overflow: hidden;
}
